@page
@model WebApplication.Pages.Attribute.Demo1Model
@{
    ViewData["Title"] = "Attribute/Demo1";
}


<div class="jumbotron bg-light shadow-sm">
    @*Nagłówek strony*@
    <h1 class="display-4">Odczyt atrybutów zmiennej @Model.mVariableName</h1>

    <hr class="my-4">

    @*Przycisk odświeżania strony*@
    <a id="btnRefresh" class="btn btn-secondary" asp-area="" asp-page="Variable/Demo1">Odśwież stronę</a>
    <script>document.getElementById("btnRefresh").focus();</script>
</div>


@*Obsługa błędów*@
@if (!string.IsNullOrEmpty(Model.mReadError))
{
    <div class="alert alert-danger" role="alert">
        @Model.mReadError;
    </div>

    return;
}



@*Tworzenie tablicy atrybutów*@
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa atrybutu</th>
            <th scope="col">Wartość atrybutu</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">1</th>
            <td>Nazwa</td>
            <td>@Model.mVariableAttributes[0]</td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td>Opis</td>
            <td>@Model.mVariableAttributes[1]</td>
        </tr>

        <tr>
            <th scope="row">3</th>
            <td>Jednostka</td>
            <td>@Model.mVariableAttributes[2]</td>
        </tr>

        <tr>
            <th scope="row">4</th>
            <td>Szafa</td>
            <td>@Model.mVariableAttributes[3]</td>
        </tr>

        <tr>
            <th scope="row">5</th>
            <td>Listwa</td>
            <td>@Model.mVariableAttributes[4]</td>
        </tr>

    </tbody>
</table>
