@page
@model WebApplication.Pages.Attribute.Demo2Model
@{
    ViewData["Title"] = "Attribute/Demo2";
}


@*Nagłówek strony*@
<div class="jumbotron bg-light shadow-sm">
    <h1 class="display-4">Odczyt wszystkich atrybutów zmiennej @Model.mVariableName</h1>

    <hr class="my-4">

    <a id="btnRefresh" class="btn btn-secondary" asp-area="" asp-page="Variable/Demo1">Odśwież stronę</a>
    <script>document.getElementById("btnRefresh").focus();</script>
</div>



@*Obsługa błędów*@
@if (!string.IsNullOrEmpty(Model.mReadError))
{
    <div class="alert alert-danger" role="alert">
        Błąd odczytu: @Model.mReadError;
    </div>

    return;
}


@*Tworzenie tablicy atrybutów*@
<table class="table">
    @*Nagłówek tablicy*@
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa atrybutu</th>
            <th scope="col">Wartość atrybutu</th>
        </tr>
    </thead>

    @*Początek wierszy tablicy*@
    <tbody>
        @for (int i = 0; i < Model.mAttributeNames.Count; ++i)
        {
            //Kolejny wiersz tablicy
            <tr>
                <th scope="row">@(i+1)</th>
                <td>@Model.mAttributeNames[i]</td>
                <td>@Model.mVariableAttributes[i]</td>
            </tr>
        }
    </tbody>

</table>
