@page
@model WebApplication.Pages.Attribute.Demo1Model
@{
    ViewData["Title"] = "Attribute/Demo1";
}


<div class="jumbotron bg-light shadow-sm">
    <h1 class="display-4">Odczyt atrybutów zmiennej A000</h1>

    @if (!string.IsNullOrEmpty(Model.mReadError))
    {
        <hr class="my-4">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header"><h5>Błąd odczytu</h5></div>
            <div class="card-body">
                <p class="card-text">@Model.mReadError</p>
            </div>
        </div>
    }

    <hr class="my-4">

    <a id="btnRefresh" class="btn btn-secondary" asp-area="" asp-page="Variable/Demo1">Odśwież stronę</a>
    <script>document.getElementById("btnRefresh").focus();</script>
</div>


@if (string.IsNullOrEmpty(Model.mReadError))
{
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa atrybutu</th>
            <th scope="col">Wartość atrybutu</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">1</th>
            <td>Nazwa</td>
            <td>@Model.mVariableAttributes[0]</td>
        </tr>

        <tr>
            <th scope="row">2</th>
            <td>Opis</td>
            <td>@Model.mVariableAttributes[1]</td>
        </tr>

        <tr>
            <th scope="row">3</th>
            <td>Jednostka</td>
            <td>@Model.mVariableAttributes[2]</td>
        </tr>

        <tr>
            <th scope="row">4</th>
            <td>Szafa</td>
            <td>@Model.mVariableAttributes[3]</td>
        </tr>

        <tr>
            <th scope="row">5</th>
            <td>Listwa</td>
            <td>@Model.mVariableAttributes[4]</td>
        </tr>


    </tbody>
</table>}


