@model WebApplication.Code.VariableModel


@*Karta wyświetlająca wynik odczytu wartości jednej zmiennej*@
<div id="@Model.Name" class="card bg-light shadow-sm mb-3" style="width: 18rem;">

    @*Ewentualny bład odczytu wyświetlany jest w nagłówku karty*@
    @if (!string.IsNullOrEmpty(Model.ReadError))
    {
        <div class="card-header bg-danger text-white"><h5>Błąd odczytu</h5> @Model.ReadError</div>
    }

    @*Ciało karty - opis, wartość i jednostka*@
    <div class="card-body">
        <p>@Model.Decription</p>
        <h3>@Model.ValueFormatted @Model.Unit</h3>
    </div>

    @*Stopka karty - w celach informacyjnych wyświetla nazwę zmiennej i stempel czasu wartości zmiennej*@
    <div class="card-footer py-0 text-right">
        <small class="text-muted">@Model.Name, @Model.DateTime.ToString()</small>
    </div>
</div>
