@page
@model WebApplication.Pages.OneVariableModel
@{
    ViewData["Title"] = "OneVariable";
}

<div class="jumbotron">
    <h1 class="display-4">Odczyt atrybutów i wartości zmiennej</h1>

    @if (!string.IsNullOrEmpty(Model.mGeneralReadError))
    {
        <hr class="my-4">
        <p>@Model.mGeneralReadError</p>
        return;
    }
</div>


<div class="card-columns">
    <div class="card shadow-sm" style="width: 18rem;">

        <div class="card-body">
            <p>@Model.mDescription</p>

            <h3>@Model.mValueFormatted @Model.mUnit</h3>
        </div>

        @if (!string.IsNullOrEmpty(Model.mVariableState.readStatusString))
        {
            <div class="card-footer">
                @Model.mVariableState.readStatusString
            </div>
        }

    </div>

</div>

