@page
@model WebApplication.Pages.StaticDataModel
@{
    ViewData["Title"] = "StaticData";
}




<div class="jumbotron">
    <h1 class="display-4">Piec i aparat kontaktowy</h1>
</div>


@if (Model.mVariableStateList != null)
{
    <div class="card-columns">
        @foreach (var variableState in Model.mVariableStateList)
        {
            <div class="card shadow-sm" style="width: 18rem;">
                <div class="card-body">
                    <p>opis</p>
                    <h3> @variableState.value unit</h3>
                </div>
                @if (!variableState.readSucceeded)
                {
                    <div class="card-footer">
                        @variableState.readStatusString
                    </div>

                }
            </div>
        }
    </div>
}

<div class="card-columns">
    <div class="card shadow-sm" style="width: 18rem;">
        <div class="card-body">
            <p> Przepływ gazu do pieca</p>
            <h3> @Model.mVariableA110 m<sup>3</sup>/h</h3>
        </div>
        <div class="card-footer">
            @Model.mVariableA110Status
        </div>
    </div>

    <div class="card shadow-sm" style="width: 18rem;">
        <div class="card-body">
            <p> Ciśnienie gazu przed piecem </p>
            <h3> @Model.mVariableA098 kPa</h3>
        </div>
    </div>
</div>


